<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Confirmation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="text-success">Purchase Confirmation</h2>
                        <p class="lead">All products in the cart has been purchased.</p>
                        <p class="lead">Thank you for purchase!</p>
                        <a href="/user_dashboard" class="btn btn-success mt-3">Buy another product!</a>
                        <a href="/purchasehistory" class="btn btn-primary mt-3">See your purchases</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
